.week-picker {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: right;
}

.week-picker__button {
    margin-left: 10px !important; 
}

.week-picker__time {
    width: 21% !important;
    margin-left: 10px !important;
}

.week-picker__time .MuiPickersSectionList-root {
    font-size: 13px !important;
}

.week-picker__time .MuiIconButton-root:hover {
    background: transparent !important;
} 

.week-picker__label {
    margin-left: 10px;
}