.week-picker {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 20px 0 10px auto;
    justify-content: right;
}

.week-picker__button {
    margin-left: 10px !important; 
    padding: 8px !important;
    height: 32px !important;
}

.week-picker__time {
    width: 21% !important;
    margin-left: 10px !important;
    padding: 0 0px !important;
}

.week-picker__time .MuiPickersSectionList-root {
    padding: 7px 0 !important;
    height: 30px;
    font-size: 13px !important;
}

.week-picker__time .MuiIconButton-root {
    padding: 7px 4px 7px 0 !important;
}

.week-picker__time .MuiIconButton-root:hover {
    background: transparent !important;
} 

.week-picker__label {
    margin-left: 10px;
}