.sign-in {
    width: 100%;
    height: 100vh;
    padding-top: 8%;
}

.sign-in__container {
    padding: 0;
    width: 30% !important;
    padding: 20px;
}

.sign-in__paper {
    box-shadow: none !important;
}

.sign-in__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.sign-in__box--flex {
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.sign-in__logo {
    width: 35%;
    height: 35%;
}

.sign-in__text-field {
    margin-bottom: 15px !important;
}

.sign-in__form-control {
    margin-bottom: 15px !important;
}

.sign-in__select {
    font-size: 13px !important;
}

.sign-button__forget {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.sign-button__forget:hover {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}

.MuiFormHelperText-root {
    margin: 0 !important;
}

.language-switch__sign--in .switcher-select .MuiSelect-select {
    background: #fff !important;
    padding-left: 0;
    font-size: 13px !important;
    font-weight: 600 !;
}

.language-switch__sign--in .switcher-select .MuiSelect-icon {
    color: var(--primary-color);
}