@import url("../../assets/styles/theme.css");

.search-engine__input {
    width: 100%;
    min-width: 360px !important;
    max-width: 520px !important;
    margin-left: 0 !important;
    flex: 1 1 360px;
}

.search-engine__input .MuiInputBase-input {
    color: #111 !important;
}

.search-engine__icon svg {
    color: var(--primary-color) !important;
}
