@import url("../../assets/styles/theme.css");

.switcher-select .MuiSelect-select {
    display: flex;
    align-items: center;
    padding: 8px;
    background: var(--primary-color);
    min-width: auto;
    width: fit-content;
}

.switcher-select .MuiSelect-icon {
    color: #fff;
}

.switcher-select::before,
.switcher-select::after {
  border-bottom: none !important;
}

.switcher-menu {
    padding: 0px !important;
}

.switcher-image {
    width: 25px;
    height: 25px;
}

.switcher-label {
    margin-left: 8px;
    font-size: 13px;
}