@import url("../../assets/styles/theme.css");

.button-primary {
    background: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    outline: none;
    transition: .25s !important;
    padding: 10px !important;
    font-weight: var(--font-weight-base) !important;
}

.button-primary:hover {
    opacity: 0.9;
    border-color: var(--primary-color);
}

.button-primary:focus {
    border-color: var(--primary-color);
    outline: none;
}

.button-variant__text {
    background: transparent !important;
    padding: 0 !important; 
    color: var(--primary-color) !important;
}

.button-secondary {
    background: var(--secondary-color) !important;
    color: #fff !important;
    font-weight: var(--font-weight-base) !important;
}