@import url("./assets/styles/theme.css");

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: var(--font-family-base);
}

body {
  background: #fafafa !important;
}

.main-layout {
  margin-top: 65px;
}

/* custom input */
.MuiInputLabel-root.Mui-focused {
  color: var(--primary-color) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-color) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid var(--primary-color) !important;
}

/* custom select */
.MuiSelect-select {
  height: 1.4375em !important;
  line-height: 1.4375em !important;
}

.MuiMenu-paper {
  /* min-width: auto !important; */
  padding: 8px;
}

.MuiMenu-list {
  padding: 0 !important;
}

/* datetime picker */
.MuiPickersSectionList-root  {
  padding: 12px 0 !important;
  font-size: var(--font-size-base) !important;
}

.myprofile-text__field .MuiPickersOutlinedInput-root.Mui-focused .MuiPickersOutlinedInput-notchedOutline {
  border-color: var(--primary-color) !important; 
}

/* tab */
.MuiTabs-indicator {
  background: var(--primary-color) !important;
}

/* ================== Title ================== */
.primary-title {
  text-align: center;   
  font-weight: var(--font-weight-bold) !important;
  font-size: var(--font-size-large) !important;
  color: var(--primary-color);
}

/* ================== Table ================== */
.primary-table-container {
  box-shadow: none !important;
  border-radius: 0 !important;
  /* border: 5px solid red; */
}

.primary-thead {
  background: var(--primary-color) !important;
  /* border: 5px solid red; */
}

.primary-thead__cell {
  color: #fff !important;
  font-weight: var(--font-weight-bold) !important;
  border-right: 1px solid #fff;
  padding: 8px !important;
}

.primary-thead__cell:first-child {
  border-left: 1px solid var(--primary-color);
}

.primary-thead__cell:last-child {
  border-right: 1px solid var(--primary-color);
}

.thead-cell__border--right{
  border-right: 1px solid #fff !important;
}

.primary-trow {
  border-radius: 4px !important;
}

.primary-tcell{
  border: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color) !important;
  font-size: var(--font-size-base) !important;
  color: black !important;
  padding: 8px !important;
}