:root {
  --primary-color: #343D60;
  --secondary-color: #CDA666;
  --font-size-base: 14px;
  --font-size-large: 20px;
  --font-weight-bold: 700;
  --border-base: 1px solid #ccc;
  --border-radius-base: 4px;
  --box-shadow-base: 0 8px 20px rgba(52, 61, 96, 0.5);
  --color-white: #fff;
  --color-black: #000;
  --color-time: #68696b;
  --color-desc: #5b5c5e;
  --font-family-base: 'Montserrat', sans-serif;
}